<!DOCTYPE HTML>

<html>

<head>
    <title>zThundy's Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/notification.css" />
    <script src="https://kit.fontawesome.com/2656c82e02.js" crossorigin="anonymous"></script>
</head>

<body class="preload">
    <div id="auth-container">
        <img id="logo-pic" class="auth-login-logo" src="phone_logo.png" />
        <form id="form-container" action="/site/login" method="post">
            <!-- user input-->
            <span class="sing-in-label">Sign-In</span>
            <input class="input-box-section" type="text" name="username" placeholder="Username" required>
            <input class="input-box-section" type="password" name="password" placeholder="Password" required>
            <!-- submit button -->
            <!-- 
            <button id="input-button" class="input-button-section" type="submit" placeholder="Login">
                <span class="bottom-text-label">Login</span>
            </button>
             -->
            <input id="input-button" class="input-button-section" type="submit" value="Login">
        </form>
        <span class="bottom-divider-line"></span>
        <span class="bottom-text-label">Haven't got an account?</span>
        <span class="bottom-text-label" style="font-weight: bolder;">Create one <a href="/site/register">here</a>!</span>
        <span class="bottom-text-label" style="font-weight: bolder; font-size: 16px;">Forgot password? Get new one <a href="/site/recover">here</a>!</span>
    </div>
    <div style="display: none" class="notification-container">
        <i id="notification-icon" class="notification-icon"></i>
        <span class="notification-text" style="font-size: 20px;">Your accont has been registered successfully!</span>
        <button id="notification-button">
            <span class="notification-button-label">OK</span>
        </button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/login.js"></script>
</body>

</html>