body {
    align-items: center;
    width: 100vw;
    height: 100vh;
	font-family: "Segoe UI",sans-serif;
}

#background-hider {
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: .3s all ease;
}

.dashboard-container {
    overflow: hidden;
    position: relative;
    background-color: #4c4c4c;
    top: 1%;
    height: auto;
    min-height: 600px;
    left: .5%;
    width: 99%;
    border-radius: 20px;
}

.dashboard-content-header {
    /* background-color: rgb(49, 49, 49); */
    /* border-bottom: 1px solid #818181; */
    width: 100%;
    height: 100px;
}

.dashboard-username {
    font-size: 30px;
    color: #818181;
    position: absolute;
    /* height: 100%; */
    margin-top: 30px;
    margin-left: 30px;
    /* padding-top: 30px; */
    font-weight: bold;
    transition: 0.3s;
}

.dashboard-username:hover {
    color: white;
}

.dashboard-header {
    z-index: 1;
    position: absolute;
    background-color: rgb(49, 49, 49);
    border-bottom: 1px solid #818181;
    width: 100%;
    height: 100px;
}

/* LICENSES */

.dashboard-content-body {
    overflow: hidden;
    width: 100%;
    height: auto;
}

#dashboard-liceses-form {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#dashboard-liceses-form input {
    width: 450px;
    height: 46px;
    margin-left: 50px;
    outline: none;
    border: none;
    padding-left: 20px;
    border-radius: 15px;
    background-color: rgb(190, 190, 190);
}

#dashboard-liceses-form input:disabled {
    background-color: rgb(114, 114, 114);
    color: rgb(65, 65, 65); 
}

.dashboard-form-button-accept {
    width: 150px;
    height: 46px;
    outline: none;
    border: none;
    border-radius: 20px;
	background-color: rgb(26, 77, 10);
	transition: all .3s ease;
    margin-left: 50px;
}

.dashboard-form-button-accept:hover {
	transition: all .3s ease;
	background-color: rgb(45, 121, 21);
	cursor: pointer;
}

.dashboard-form-button-deny {
    width: 150px;
    height: 46px;
    outline: none;
    border: none;
    border-radius: 20px;
	background-color: rgb(77, 10, 10);
	transition: all .3s ease;
    margin-left: 50px;
}

.dashboard-form-button-deny:hover {
	transition: all .3s ease;
	background-color: rgb(121, 21, 21);
	cursor: pointer;
}

.dashboard-content-title {
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-left: 50px;
}

/* ACCOUNT */

#dashboard-account-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#dashboard-account-form-input {
    width: 500px;
    height: 50px;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 20px;
    margin-top: 20px;
    /* margin-left: 30px; */
}

#dashboard-account-form-input:disabled {
    background-color: rgb(114, 114, 114);
    color: rgb(65, 65, 65); 
}

#dashboard-account-form-button {
    margin-top: 20px;
    width: 250px;
    height: 46px;
    outline: none;
    border: none;
    border-radius: 20px;
	background-color: rgb(26, 77, 10);
	transition: all .3s ease;
    /* margin-left: 30px; */
}

#dashboard-account-form-button:hover {
	transition: all .3s ease;
	background-color: rgb(45, 121, 21);
	cursor: pointer;
}