<div class="captcha-container"><br />
    <form method="post" action="/captcha">
        <!-- add your domain data-sitekey below-->
        <div class="g-recaptcha" data-sitekey="6LelZiUbAAAAAPHyykBtydz2F3ND5iW1wIUe5F9M"></div>
    </form>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>