<div class="captcha-container"><br />
    <form method="post" action="/captcha">
        <!-- add your domain data-sitekey below -->
        <div class="g-recaptcha" data-sitekey="6LfiIjEbAAAAAO6EQ1xtSzKnseAL8wtd6yxqocBj"></div>
        <!-- <div class="g-recaptcha-response"></div> -->
    </form>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>