<% if (notification && notification == "error") { %>
    <div class="notification-container">
        <i style="color: rgb(191 33 33);" id="notification-icon" class="notification-icon fas fa-times-circle"></i>
        <span class="notification-text" style="font-size: 20px;"><%= message %></span>
        <button id="notification-button">
            <span class="notification-button-label">OK</span>
        </button>
    </div>
<% } else if (notification && notification == "success") { %>
    <div class="notification-container">
        <i id="notification-icon" class="notification-icon fas fa-check-circle"></i>
        <span class="notification-text" style="font-size: 20px;"><%= message %></span>
        <button id="notification-button">
            <span class="notification-button-label">OK</span>
        </button>
    </div>
<% } %>
