body {
    font-family: "Lato", sans-serif;
}

.sidebar-options-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-options-container a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-options-container a:hover {
    color: #f1f1f1;
}

.sidebar-options-container .sidebar-options-close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidebar-options-container {
        padding-top: 15px;
    }

    .sidebar-options-container a {
        font-size: 18px;
    }
}

.sidebar-opener {
    width: 130px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    color: white;
}

.sidebar-opener span {
    position: relative;
    margin-bottom: 15px;
}