<div id="sidebar-options-container" class="sidebar-options-container">
    <form id="form-container" action="/dashboard/sidebar" method="post">
        <span style="font-weight: bold; margin-bottom: 20px;"><%= email %></span>
        <!-- <a id="sidebar-closer" class="sidebar-options-close-button">&times;</a> -->
        <!-- <img class="sidebar-default-logo" src="defaultpic.png" /> -->
        <a id="random-hyperlink" href="/">Home</a>
        <a id="random-hyperlink" href="/dashboard/licenses">Licenses</a>
        <a id="random-hyperlink" href="/dashboard/account">Account</a>
        <button class="logout-button" type="submit" name="action" value="logout">Logout</button>
        <button class="logout-button" type="submit" name="action" value="delete">Delete account</button>
    </form>
</div>